.navbarContainer{
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar{
    background-color: navy;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    padding: 1%;
    color: navy;
}
.navSec1{
/* background-color: whitesmoke; */
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 5%;
/* color: navy; */
}

.navSec1Home{
color: aliceblue;
font-size: x-large;
text-decoration: none;
display: inline-block;
font-weight: 600;
/* background: linear-gradient(0deg, slategrey, aliceblue); */
/* -webkit-background-clip: text; */
/* -webkit-text-fill-color: transparent; */
/* transition: transform 0.3s ease, text-shadow 0.3s ease; */
}
.navSec1Home:hover{
    height: 100%;
    cursor: pointer;
    /* background-color: rgba(181, 181, 181, 0.1); */
    color: aliceblue;
    border-radius: 0.2rem;
    /* transform: scale(1.05);
    text-shadow: 0 0 10px aliceblue; */
}

.navSec2{
    font-size: larger;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
    text-decoration: none;
    /* background-color: whitesmoke; */
}
.navSec2 a{
    font-size: large;
    color: aliceblue;
    text-decoration: none;
    /* background-color: whitesmoke; */
}
.navSec2 a:hover{
    cursor: pointer;
    
    /* color: white; */
    font-weight: bolder;
    /* background-color: rgba(106, 106, 110, 0.3); */
    /* padding: 0% 5%; */
    /* font-size:larger; */
}
.navSec3{
    /* background-color: whitesmoke; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navSec3 i{
    margin: 2%;
    font-size: x-large;
    color: navy;
}
.navSec3 input{
    padding: 3% 0% 3% 2%;
    border: 1px solid white;
    border-radius: 0.8rem;
}

.nav-container{
    background-color: whitesmoke;
}

.fooContainer{
    /* background-color: honeydew; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 1%;
}
.fooSec1 p:not(.fooHeading){
    font-size: smaller;
    padding: 2%;
}

.fooSec1 p:not(.fooHeading):hover{
    cursor: pointer;
    font-weight: bold;
    color: darkslateblue;
}
.fooHeading{
    color: black;
    font-weight: bold;
}
.fooIcons{
    background-color: navy;
}
.fooIcons i{
    width: 50px;
    padding: 2%;
    text-align: center;
    color: aliceblue;
}
.fooIcons i:hover{
    cursor: pointer;
    font-size: larger;
    color: white;
}

.navList{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2% 1%;
    font-size: large;
}
.navList p:hover{
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}

.navShape{
    width: 100%;
    height: 10rem;
    background-color: antiquewhite;
    background: radial-gradient(circle,aliceblue, #7bbafe);
    border-radius: 5rem;

}

@media only screen and (max-width:800px){

    .navbarContainer{
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .navbar{
        background-color: darkslateblue;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        /* grid-template-columns: 1fr 1fr; */
        gap: 5%;
        padding: 3% 1%;
    }

    .navSec1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        gap: 5%;
        /* background-color: aquamarine; */
    }
    
    .navSec1Home{
        display: flex;
        align-items: center;
        color: aliceblue;
        font-size: medium;
        text-decoration: none;
        font-weight: 600;
        white-space: nowrap;
        /* background-color: violet; */
    }
    
    .navSec2{
        font-size: larger;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: aliceblue;
        text-decoration: none;
        display: none;
        /* background-color: whitesmoke; */
    }

    .navSec3{
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
        gap: 5%;
        /* background-color: firebrick; */
    }


    .navSec3 i{
        margin: 2%;
        font-size: x-large;
        color: antiquewhite;
        /* background-color: tomato; */
    }
    .navSec3 input{
        padding: 3% 0% 3% 2%;
        border: 1px solid white;
        border-radius: 0.8rem;
        display: none;
        background-color: slategrey;
    }
    
    
    .fooContainer{
        /* background-color: honeydew; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 1%;
        background-color: darkslateblue;
        bottom: 0;
        color: darkgray;
        justify-items: center;
    }
    .fooSec1 p:not(.fooHeading){
        font-size: xx-small;
        padding: 4%;
        white-space: nowrap;
    }
    
    /* .fooSec1 p:not(.fooHeading):hover{
        cursor: pointer;
        font-weight: bold;
        color: darkslateblue;
    } */
    .fooHeading{
        color: antiquewhite;
        font-weight: bold;
        font-size: smaller;
    }
    .fooIcons{
        background-color: darkslateblue;
    }
    .fooIcons i{
        width: 50px;
        padding: 2%;
        text-align: center;
        color: aliceblue;
    }
    /* .fooIcons i:hover{
        cursor: pointer;
        font-size: larger;
        color: white;
    } */
    
    
}